{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}

<div class="user-area">
    <div id="user_banner">
        {% if user_name %}
        <p id="session_user_name">User - {{ user_name }}</p>
        {% endif %}
    </div>

</div>
<div class="query-area">
    <p id="query_area_banner">Query</p>
    <form action="/query" method="post">
        <label for="title">Title: <br></label>
        <input type="text" id="title" name="title"><br>

        <label for="year">Year: <br></label>
        <input type="text" id="year" name="year"><br>

        <label for="artist">Artist: <br></label>
        <input type="text" id="artist" name="artist"><br>

        <input type="submit" value="Query">
    </form>

    {% if message %}
    <div class="error-message">{{ message }}</div>
    {% endif %}

    {% if query_results %}
    <div class="query-results">
        <ul>
            {% for result in query_results %}
            <li>
                <strong>Title:</strong> {{ result.title.S }}<br>
                <strong>Artist:</strong> {{ result.artist.S }}<br>
                <strong>Year:</strong> {{ result.year.S }}<br>
                <img src="{{ result.image_url }}" alt="Artist Image">
                <button class="subscribe-button" data-title="{{ result.title }}" data-artist="{{ result.artist }}">
                    Subscribe
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>


{% endblock %}
